$none: 0 !default;
$white-color: #FFFFFF !default;
$dark-gray: #9A9A9A !default;
$black-color: #333333 !default;
$medium-gray: #DDDDDD !default;
$transparent-bg: transparent !default;
$font-paragraph: 16px !default;